/* Tablo hücreleri için maksimum geniþlik */
#studentTable td, #studentTable th {
    white-space: nowrap; /* Tek satýr */
    overflow: hidden; /* Taþan metni gizle */
    text-overflow: ellipsis; /* ... ile göster */
}

    /* First Name ve Last Name sütunlarýný daralt */
    #studentTable th:nth-child(2),
    #studentTable td:nth-child(2),
    #studentTable th:nth-child(3),
    #studentTable td:nth-child(3) {
        max-width: 120px;
    }

       
    #studentTable th:nth-child(5),
    #studentTable td:nth-child(5) {
        min-width: 90px;
        text-align: center;
    }

    #studentTable th:nth-child(1),
    #studentTable td:nth-child(1) {
         text-align: center;
    }

#openCreateModal {
    margin-right: 20px;
    background-color: #6f42c1; /* Bootstrap mor tonu */
    border-color: #6f42c1;
    color: white;
    transition: all 0.2s ease;

}

    #openCreateModal:hover {
        background-color: #59359c; /* Bir ton koyusu */
        border-color: #59359c;
        color: white;
    }

/* Tablo baþlýk rengini özelleþtir */
#studentTable thead.table-dark th {
    position: sticky;
    top: 0;
    background-color: #495057 !important;
    color: #fff !important;
    z-index: 2; /* Baþlýðýn hücrelerin üstünde kalmasýný saðlar */
}

/* Table hover highlight */
#studentTable tbody tr:hover {
    background-color: #f0f8ff;
    transition: 0.2s;
}

.table-responsive {
    max-height: 80vh; /* Tabloya dikey kaydýrma alaný saðlar */
    overflow-y: auto;
}

#studentTable th:nth-child(6),
#studentTable td:nth-child(6) {
    min-width: 200px;
}

/* Tüm veri hücrelerini sola yasla */
#studentTable tbody td {
    vertical-align: middle;
    text-align: left;
}

    /* Actions hücrelerini saða yasla */
    #studentTable tbody td:last-child {
        text-align: right;
        padding-right: 10px;
    }

/* Student Number sütunu biraz geniþlet */
#studentTable th:nth-child(4),
#studentTable td:nth-child(4) {
    min-width: 110px;
    text-align: center;
    
}
